﻿.nova, .antiga, .confirmacao, .email { overflow: hidden; }

input[type="text"], select { margin-top: 3px; }

.nova, .nova input[type="password"], .antiga, .antiga input[type="password"] { width: 100%; }

.confirmacao input[type="password"] { width: 100%; }

.email, .email input[type="text"] { width: 100%; }

.ir-voltar { float: left; width: 100%; margin-top: 20px; }

    .ir-voltar .btnEsq { width: 47.5%; }

    .ir-voltar .btnDir { margin-left: 4%; width: 47.5%; }

h2 { margin-bottom: 10px; }