h4 {
    font-size: 16px;
}

h2 {
    margin-bottom: 15px;
}

.nome, .email, .senha, .confirmacao, .perfil-user, .loja, .regiao {
    overflow: hidden;
}

.senha {
    float: left;
    width: 53%;
}

.loja {
    width: 50%;
    float: left;
}

.email, .perfil-user, .regiao {
    width: 33%;
    float: left;
}

.email-consulta, .perfil-consulta, .regiao-consulta {
    width: 50%;
    float: left;
}

.confirmacao, .data {
    float: left;
    width: 47%;
}

input[type="text"], select {
    margin-top: 3px;
}

input[type="password"]:disabled {
    cursor: default;
    background-color: #FFEBEB;
    border: 0;
    color: #000;
}

.nome input[type="text"], .data input[type="text"] {
    width: 100%;
}

.senha input[type="password"] {
    width: 90%;
}

.confirmacao input[type="password"] {
    width: 100%;
}

.perfil-user select, .regiao select, .email input[type="text"], .perfil-consulta select, .email-consulta input[type="text"], .regiao-consulta select {
    width: 95%;
    padding: 3.5%;
}

.perfil-consulta select, .regiao-consulta select {
    width: 100%;
    padding: 3.5%;
}

.assunto-lista,
.subassunto-lista {
    overflow: hidden;
    width: 100%;
    float:left;
}

.loja-lista table, .assunto-lista table, .subassunto-lista table {
    border: 0;
}

.loja-lista {
    overflow: hidden;
    width: 100%;
    float: left;
    margin-top: 0%;
}

.ir-voltar {
    float: left;
    width: 100%;
    margin-top: 20px;
}

    .ir-voltar .btnEsq {
        width: 47.5%;
    }

    .ir-voltar .btnDir {
        margin-left: 4.4%;
        width: 47.5%;
    }

    .ir-voltar .btnConsultar {
        width: 40%;
        margin-left: 31%;
    }

    .ir-voltar .btnCadastrar {
        width: 40%;
        margin: 4% 0% 7%;
    }

.header {
    text-align: left;
}