﻿.linha-1, .linha-2 { padding: 12px 0; overflow: hidden; }

input[type="text"]:disabled { cursor: default; background-color: #FFEBEB; border: 0; color: #000; }

.protocolo, .data, .maisInformacoes, .passaporte { overflow: hidden; width: 25%; float: left; }

.situacao { width: 24%; overflow: hidden; padding-left: 1%; }

.inicio, .fim { overflow: hidden; width: 50%; float: left; }

.inicio-rel, .fim-rel { overflow: hidden; width: 18%; float: left; }

.assunto { overflow: hidden; width: 64%; float: left; }

.loja { overflow: hidden; width: 100%; float: left; }

.atendente { overflow: hidden; width: 36%; float: left; }

.situacaoRelat { overflow: hidden; width: 31%; float: left; }

p { margin-top: 14px; font-size: 14px; }

input[type="text"], select { margin-top: 3px; }

.protocolo input[type="text"], .data input[type="text"], .maisInformacoes input[type="text"], .passaporte input[type="text"], .inicio-rel input[type="text"], .fim-rel input[type="text"], inicio-rell { width: 90%; }

.atendente input[type="text"] { width: 95%; }

.atendente input[type="text"]:disabled { cursor: default; background-color: #FFEBEB; border: 0; color: #000; }

.assunto select, .situacaoRelat select { width: 90%; }

.situacao select { width: 100%; }

.loja select { width: 100%; }

.loja table { border: 0; }

.loja tr, .loja td, .loja th { border: 0; }

.assunto select { width: 94%; }

.selecionar { text-align: center; }

.ir-voltar { float: left; width: 100%; margin: 10px 0; }

.ir-voltar .btnConsultar { width: 22%; margin-left: 37%; }

.ir-voltar .btnRelatorio { width: 100%; }

.ir-voltar .btnEsq { width: 30%; }

.ir-voltar .btnDir { margin-left: 4.4%; width: 30%; }

.mensagem { width: 100%; height: 100px; clear: both; margin-bottom: 30px; }

.mensagem .dir { float: left; width: 280px; padding-top: 5px; }

.mensagem .remetente { float: left; font-size: 15px; font-weight: bold; width: 100%; margin-bottom: 4px; }

.mensagem .data { float: left; font-size: 12px; color: #868686; width: 100%; }

.mensagem .maisInformacoes { float: left; font-size: 12px; color: #868686; width: 100%; margin-bottom: 5px; }

.mensagem .maisInformacoes b { color: #000; }

.mensagem .textoMsg { width: 55%; font-family: Arial; font-size: 14px; padding: 7px; }

.mensagem .btnEnviar { width: 25%; margin: 2%; }

.mensagem .btnCadastrar { width: 25%; margin: 2% 0% 2% 2%; }

.mensagem span { font-size: 19px; color: #DF001E; font-weight: bold; }

.mensagem textarea:disabled { cursor: default; background-color: #FFEBEB; border: 0; color: #000; }

.assunto-lista { overflow: hidden; width: 100%; float: left; }

.loja-lista { overflow: hidden; width: 100%; float: left; }

.subassunto-lista { overflow: hidden; width: 100%; float: left; }

.loja-lista table, .assunto-lista table, .subassunto-lista table { border: 0; }
